{% set subfields = [
    {
        title: "Type" | t,
        handle: 'type',
    },
    {
        title: "Custom URL" | t,
        handle: 'custom',
    },
    {
        title: "Custom Text" | t,
        handle: 'customText',
    },
] %}

{% for subfield in subfields %}
    {% set optionLabel  = field.name ~ ' (' ~ subfield.title ~ ')' %}
    {% set optionLabelHandle = field.handle ~ '[' ~ subfield.handle ~ ']' %}
    {% set optionHandle = field.handle ~ '--' ~ subfield.handle %}

    <tr>
        <td class="col-field">
            <div class="field">
                <div class="heading">
                    <label>{{ optionLabel }}</label>

                    <div class="instructions">
                        <code>{{ optionLabelHandle }}</code>
                    </div>
                </div>
            </div>
        </td>

        <td class="col-map">
            {% namespace 'fieldMapping' %}
                {{ forms.selectField({
                    id: optionHandle,
                    name: optionHandle,
                    value: feed.fieldMapping[optionHandle] ?? '',
                    options: feedData,
                }) }}
            {% endnamespace %}
        </td>

        <td class="col-default">
            <div class="default-fields">
                {% namespace 'fieldDefaults' %}

                    {% if subfield.handle == 'type' %}
                        {{ forms.selectField({
                            id: optionHandle,
                            name: optionHandle,
                            value: feed.fieldDefaults[optionHandle] ?? '',
                            options: [{
                                value: '',
                                label: 'Don\'t Import' | t,
                            }, {
                                value: 'email',
                                label: 'Email Address' | t,
                            }, {
                                value: 'tel',
                                label: 'Phone Number' | t,
                            }, {
                                value: 'custom',
                                label: 'Custom URL' | t,
                            }, {
                                value: 'entry',
                                label: 'Entry' | t,
                            }, {
                                value: 'category',
                                label: 'Category' | t,
                            }, {
                                value: 'asset',
                                label: 'Asset' | t,
                            }, {
                                value: 'product',
                                label: 'Product' | t,
                            }]
                        }) }}
                    {% else %}
                        {{ forms.textField({
                            id: optionHandle,
                            name: optionHandle,
                            value: feed.fieldDefaults[optionHandle] ?? '',
                        }) }}
                    {% endif %}

                {% endnamespace %}
            </div>
        </td>
    </tr>
{% endfor %}
